body {
  background-color: rgb(152, 213, 220);
}
p,
h1 {
  text-align: center;
}
.pages-links a {
  text-decoration: none;
  margin: 20px;
}
.pages-links {
  display: flex;
  justify-content: center;
}
.croissant-img {
  display: block;
  margin: 10px auto;
  max-width: 60%;
  border: 1px solid none;
  border-radius: 4px;
}
